<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <h3>Search your number: </h3>
    <!-- place label  -->
    <form action="" method="post">
    <label for="number">Number: </label>
    <input type="text" id="search" placeholder="Enter your number" />
    <input type="submit"  value="Search" onclick="hell()"/>
    </form>
	    
    <button href="/map">Back</button>
  </body>
</html>
